
<img src="images/hband.gif" height=15 width =616><br>
<div align=center><p><font SIZE=-1><a HREF="background.html">Background</a>
- <a HREF="rules.html">Objectives &amp;&nbsp;Rules</a> - <a HREF="controls.html">Controls</a>
- <a href="strategy.html">Strategy</a> - <a HREF="rating.html">The Rating
System</a> - Club 75 - <a HREF="credits.html">Credits</a> - <a HREF="client/login.html">Log
In &amp;&nbsp;Play</a></font></p></div>
<div align=center><p><b>Produced by <a HREF="http://www.cgl.uwaterloo.ca/~anicolao">Alex
Nicolaou</a> and <a HREF="http://www.cgl.uwaterloo.ca/~jdsteele">Jay Steele</a></b></p>
<p>
<br><a HREF="http://www.javasoft.com/">
<img src="images/javapow.gif" hspace=0 vspace=0 
		border=3 height=60 width=55 align=center>
</a>
</p></div>

<div align=center><p><font SIZE=-1>Java and other Java-based names are
trademarks of Sun Microsystems, Inc., and refer to Sun's family 
of Java-branded
technologies.</font></p></div>
</td></table>

</BODY>
</HTML>
